<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nkpro.ts5.orm.mb.CustomMapper">

  <select id="selectAllBreachPaymentDocId" resultType="string" parameterType="java.util.Map">
	  SELECT DISTINCT DOC_ID
	    FROM BIZ_DOC_PAYMENT_BILL
	   WHERE AMOUNT_UNRECEIVED > 0
	     AND EXPIRE_DATE &lt; #{expireDate}
	     AND BILL_AVAILABLE = #{billAvailable}
	</select>


</mapper>